/*-----------body----------------------------------------------------------------*/

header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #3f424f;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}
a:link,
a:visited {
  color: #ffffff;
}
header nav a:hover {
  color: #fac13e;
}

h1,
h2 {
  font-family: teko, Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 700;
}
h1 {
  text-transform: uppercase;
}
h3 {
  font-family: teko, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #cb55d4;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}
h3 a:hover {
  background-color: #fac13e;
}

h4 {
  font-family: teko, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
}
a {
  text-decoration: none;
}

/*-----------header-----------------------------------------------------------------*/
.logo {
  padding: 0px 0px 5px 10px;
}
header {
  padding: 10px;
  margin-bottom: -10px;
}
.toppimg {
  margin-top: 10px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.h1 {
  position: absolute;
  bottom: 550px;
  right: 150px;
  color: #ffffff;
  background-color: #cb55d4;
  max-width: 270px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

li {
  font-family: teko, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  list-style: none;
}
.nav {
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

nav {
  color: #3f424f;
}

/*-----------main-----------------------------------------------------------------*/

.maintext {
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
}
.mobil {
  display: none;
}
.iconmobil {
  text-align: center;
}
.iconmobil .fas {
  color: #fac13e;
  padding: 40px 20px 20px 20px;
}
.iconmobil .fas a:hover {
  color: #cb55d4;
}
.fas {
  font-size: 50px;
}
.cosmology,
.Evolution,
.BiologyandMedicine,
.Roboticsandal,
.Ecology,
.Dinosaur {
  background-color: #9769fa;
  display: inline-block;
  margin: auto;
  padding: 0px 20px 0px 20px;
}
.cosmology h4,
.Evolution h4,
.BiologyandMedicine h4,
.Roboticsandal h4,
.Ecology h4,
.Dinosaur h4 {
  margin: 0px;
}
.cards {
  text-align: center;
  background-color: #ffffff;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6";
}
.cosmology {
  grid-area: card1;
}
.Evolution {
  grid-area: card2;
}
.BiologyandMedicine {
  grid-area: card3;
}
.Roboticsandal {
  grid-area: card4;
}
.Ecology {
  grid-area: card5;
}
.Dinosaur {
  grid-area: card6;
}

/*-----------aside-----------------------------------------------------------------*/

aside {
  background-color: #ffffff;
  padding: 10px 10px 20px 20px;
}

h5 {
  font-family: teko, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #3f424f;
  margin: 0px;
  padding-top: 20px;
}
.h5 {
  text-align: center;
  background-color: #3f424f;
  color: #ffffff;
  margin: 0px;
  padding-bottom: 10px;
}

/*-----------footer-----------------------------------------------------------------*/
.adress {
  grid-area: adress;
  margin-top: 30px;
  padding-left: 30px;
}
.visit {
  grid-area: visit;
}
.getinvolved {
  grid-area: getin;
}
.explore {
  grid-area: explore;
}
.socialmedia {
  grid-area: media;
  margin-top: 10px;
}
.footer {
  display: grid;
  grid-template-areas: "adress visit getin explore media";
}
.footer li,
.footer p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}

footer {
  color: #ffffff;
  margin: auto;
}
.upper,
.upper li p {
  font-family: Teko, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.upper li p {
  margin: 0px;
  padding: 0px;
}
.copy {
  text-align: center;
}
.fab {
  font-size: 50px;
  gap: 5px;
  margin-top: 0px;
}
/*-----------other pages-----------------------------------------------------------------*/

.exhimg,
.eventimg {
  width: 100%;
}
.maintext2 {
  background-color: #ffffff;
  padding: 10px 10px 20px 10px;
}

/*-----------media queries-----------------------------------------------------------------*/

@media only screen and (max-width: 1000px) {
  body {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  nav {
    display: none;
  }
  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
    background-color: #3f424f;
  }
  header .fas {
    color: #ffffff;
    float: right;
    margin: 20px 5px 0px 0px;
  }
  .mobil {
    display: none;
  }
  .cards {
    text-align: center;
    background-color: #ffffff;
    display: grid;
    gap: 10px;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6";
  }
  aside {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .footer {
    display: grid;
    grid-template-areas:
      "visit"
      "getin"
      "explore"
      "adress"
      "media";
  }
}
@media only screen and (min-width: 1001px) {
  .iconmobil {
    display: none;
  }
  #hamburger-menu {
    display: none;
  }
  label .fas {
    display: none;
  }
  header nav li {
    display: inline;
  }
  ul {
    margin: auto;
  }
}
