/*-----------body----------------------------------------------------------------*/

header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #000000;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
}
a:link,
a:visited {
  color: #ffffff;
}
header nav a:hover {
  color: #fac13e;
}

h1,
h2 {
  font-family: teko, Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 700;
}
h1 {
  text-transform: uppercase;
  font-size: 50px;
}
h3,
.more {
  font-family: teko, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #cb55d4;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}
.more a:hover {
  background-color: #fac13e;
}

h4 {
  font-family: teko, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
}
a {
  text-decoration: none;
}

/*-----------header-----------------------------------------------------------------*/

.logo {
  padding: 0px 20px 5px 20px;
}
header {
  padding-top: 10px;
  background-color: #3f424f;
}
.top {
  position: relative;
}
.toppimg {
  margin-top: 10px;
  width: 100%;
  top: 0;
  left: 0;
}
.h1 {
  position: absolute;
  color: #ffffff;
  background-color: #cb55d4;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

li {
  font-family: teko, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  list-style: none;
}
.nav {
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

nav {
  color: #3f424f;
  padding-right: 10px;
}
header .maintext {
  max-width: 800px;
}
/*-----------main-----------------------------------------------------------------*/

.maintext {
  color: #ffffff;
  background-color: #3f424f;
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  margin-left: auto;
  margin-right: auto;
}

.iconmobil {
  text-align: center;
  background-color: #3f424f;
}
.iconmobil .fas {
  color: #fac13e;
  padding: 40px 20px 20px 20px;
}
.fas {
  font-size: 50px;
}
.cosmology,
.Evolution,
.BiologyandMedicine,
.Roboticsandal,
.Ecology,
.Dinosaur {
  background-color: #9769fa;
  display: inline-block;
  margin: 10px 0px 20px 10px;
  padding: 20px 20px 0px 20px;
  max-width: 300px;
}
.cosmology h4,
.Evolution h4,
.BiologyandMedicine h4,
.Roboticsandal h4,
.Ecology h4,
.Dinosaur h4 {
  margin: 0px;
}
.cards {
  text-align: center;
  justify-items: right;
  margin-left: auto;
  max-width: 1060px;
  background-color: #ffffff;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6";
}
.cosmology {
  grid-area: card1;
}
.Evolution {
  grid-area: card2;
}
.BiologyandMedicine {
  grid-area: card3;
}
.Roboticsandal {
  grid-area: card4;
}
.Ecology {
  grid-area: card5;
}
.Dinosaur {
  grid-area: card6;
}
.mobil .fas {
  color: #ffe973;
}
.mobil p {
  text-align: left;
}

h3 a:hover {
  color: #ffe973;
}

.carrocontainer h2 {
  color: #3f424f;
  margin: 0px;
  text-align: center;
}
.carousel {
  max-width: 600px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}

.carrocontainer {
  max-width: 800px;
  margin: auto;
  margin-right: 50px;
}
.carro {
  height: 500px;
  overflow: hidden;
  position: relative;
}
.container {
  height: 100%;
  display: flex;
  width: 500%;
  transition: all 0.3s;
}

.container .carousel1,
.container .carousel2,
.container .carousel3,
.container .carousel4,
.container .carousel5 {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel1,
.carousel2,
.carousel3,
.carousel4,
.carousel5 {
  display: flex;
  max-width: 700px;
  gap: 20px;
  margin: auto;
}
.arrows .arrow {
  position: absolute;
  top: 45%;
  cursor: pointer;
  color: #3f424f;
}
.arrow.left {
  left: 10px;
}
.arrow.right {
  right: 10px;
}
.container img {
  max-width: 700px;
}
/*-----------aside-----------------------------------------------------------------*/

aside {
  background-color: #3f424f;
  padding: 10px 10px 0px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  text-align: center;
  width: 300px;
}

.placeleft {
  text-align: left;
}
h5 {
  font-family: teko, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #3f424f;
  margin: 0px;
  width: 280px;
}
.h5 {
  background-color: #3f424f;
  color: #ffffff;
  margin: 0px;
  padding-bottom: 10px;
  width: 280px;
}
.aside1 h5,
.aside1 .h5 {
  padding-left: 40px;
  width: 240px;
}
aside h3 {
  margin: 10px 0px 0px 0px;
}
.aside2,
.aside3 {
  padding-top: 20px;
}

/*-----------footer-----------------------------------------------------------------*/

.adress {
  grid-area: adress;
  margin-top: 30px;
  padding-left: 30px;
}
.visit {
  grid-area: visit;
}
.getinvolved {
  grid-area: getin;
}
.explore {
  grid-area: explore;
}
.socialmedia {
  grid-area: media;
  margin-top: 10px;
}
.footer {
  display: grid;
  grid-template-areas: "adress visit getin explore media";
  max-width: 1400px;
  margin: auto;
}
.footer li,
.footer p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}

footer {
  color: #ffffff;
  background-color: #3f424f;
  width: 100%;
}
.upper,
.upper li p {
  font-family: Teko, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.upper li p {
  margin: 0px;
  padding: 0px;
}
.copy {
  text-align: center;
}
.fab {
  font-size: 50px;
  gap: 5px;
  margin-top: 0px;
}
/*-----------difference from main layout-----------------------------------------------------------------*/

.exhimg,
.eventimg {
  width: 100%;
  margin-bottom: 0px;
}
.maintext2,
.maintext3 {
  background-color: #ffffff;
  padding: 10px 10px 20px 10px;
  justify-items: right;
  margin-left: auto;
}
.maintext3 {
  max-width: 800px;
}
.maintext3 h2 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.maintext3 p {
  margin-top: 0px;
}
.maintext2 h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 200px;
  padding-right: 50px;
}
.maintext2 p {
  margin-top: 0px;
  padding-left: 200px;
  padding-right: 50px;
  max-width: 615px;
}
.background .maintext2 {
  background-color: #3f424f;
  color: #ffffff;
  margin-bottom: 20px;
}
.yello {
  color: #fac13e;
  font-weight: bold;
  font-style: italic;
  padding-left: 200px;
  padding-right: 50px;
}
li .current {
  color: #fac13e;
}
.current1 .fas {
  color: #dc55e6;
}
/*-----------media queries-----------------------------------------------------------------*/

@media only screen and (max-width: 1300px) {
  header nav a {
    font-size: 20px;
  }
  .carrocontainer {
    max-width: 600px;
  }
  .container img {
    max-width: 500px;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  nav {
    display: none;
  }
  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
    background-color: #3f424f;
  }
  header .fas {
    color: #ffffff;
    float: right;
    margin: 20px 5px 0px 0px;
    padding-right: 20px;
  }
  .mobil p {
    display: none;
  }
  .cards {
    text-align: center;
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    gap: 10px;
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6";
  }
  .cosmology,
  .Evolution,
  .BiologyandMedicine,
  .Roboticsandal,
  .Ecology,
  .Dinosaur {
    min-width: 234px;
  }

  aside {
    display: none;
  }
  .h1 {
    bottom: -60px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .maintext2 h2,
  .maintext2 p,
  .yello {
    padding-left: 20px;
    padding-right: 20px;
  }
  .maintext3 .exhimg,
  .maintext3 .eventimg {
    width: 100%;
  }
  .maintext2,
  .maintext3 {
    padding: 10px 0px 20px 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .maintext2 h2,
  .maintext2 p,
  .maintext3 h2,
  .maintext3 p {
    padding: 0px 0px 0px 10px;
  }
  header nav a {
    font-size: 30px;
  }
  .carrocontainer {
    max-width: 600px;
    margin: auto;
  }
}

@media only screen and (max-width: 736px) {
  .cards {
    text-align: center;
    background-color: #ffffff;
    display: grid;
    gap: 10px;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6";
  }
  .mobil .fas {
    display: none;
  }
  h1 {
    font-size: 30px;
  }
  .h1 {
    bottom: -40px;
    left: 0;
    right: 0;
    text-align: center;
  }
  header nav a {
    font-size: 30px;
  }
  .carrocontainer {
    max-width: 400px;
  }
  .container img {
    max-width: 300px;
  }
  .carrocontainer h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .footer {
    display: grid;
    grid-template-areas:
      "visit"
      "getin"
      "explore"
      "adress"
      "media";
    max-width: 250px;
    margin: auto;
  }
}
@media only screen and (min-width: 1025px) {
  .iconmobil {
    display: none;
  }
  #hamburger-menu {
    display: none;
  }
  label .fas {
    display: none;
  }
  header nav li {
    display: inline;
  }
  header nav a {
    padding: 40px 40px 0px 0px;
  }
  .nav {
    margin: auto;
    text-align: center;
    margin-top: 40px;
  }
  .logo {
    float: left;
  }
  .h1 {
    bottom: 50px;
    right: 150px;
  }
}
