/*-----------body----------------------------------------------------------------*/

header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #3f424f;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
a:link,
a:visited {
  color: #ffffff;
}
header nav a:hover {
  color: #fac13e;
}

h1,
h2 {
  font-family: teko, Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 700;
}
h1 {
  text-transform: uppercase;
}
h3 {
  font-family: teko, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #cb55d4;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}
h3 a:hover {
  background-color: #fac13e;
}

h4 {
  font-family: teko, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
}
a {
  text-decoration: none;
}

/*-----------header-----------------------------------------------------------------*/
.logo {
  padding: 0px 0px 5px 10px;
}
.toppimg {
  margin-top: 10px;
  width: 100%;
  position: static;
  top: 0;
  left: 0;
}
header {
  padding: 10px;
  margin-bottom: -10px;
}
.h1 {
  color: #ffffff;
  background-color: #cb55d4;
  max-width: 270px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

li {
  font-family: teko, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  list-style: none;
}
.nav {
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

nav {
  display: none;
  color: #3f424f;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
  background-color: #3f424f;
}
header .fas {
  color: #ffffff;
  float: right;
  margin: 20px 5px 0px 0px;
}
/*-----------main-----------------------------------------------------------------*/

.maintext {
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
}
.mobil {
  display: none;
}
.iconmobil .fas {
  color: #fac13e;
  padding: 20px;
}
.fas {
  font-size: 50px;
}
.cards {
  text-align: center;
  background-color: #ffffff;
}
.cosmology {
  background-color: #9769fa;
  display: inline-block;
  padding: 0px 70px 0px 70px;
}
/*-----------aside-----------------------------------------------------------------*/

aside {
  display: none;
}

/*-----------footer-----------------------------------------------------------------*/
.adress {
  grid-area: adress;
  margin-left: 20px;
  margin-top: 30px;
}
.visit {
  grid-area: visit;
}
.getinvolved {
  grid-area: getin;
}
.explore {
  grid-area: explore;
}
.socialmedia {
  grid-area: media;
  margin-top: 10px;
}
.footer {
  display: grid;
  grid-template-areas: "adress visit getin explore media";
}
.footer li,
.footer p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}

footer {
  color: #ffffff;
  margin: 10px 30px 30px 30px;
}
.upper,
.upper li p {
  font-family: Teko, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.copy {
  text-align: center;
}
.fab {
  font-size: 50px;
  gap: 5px;
  margin-top: 0px;
}
